scenarios/sellrapido-supabase-ordini/blueprint.json
{
  "flow": [
    {
      "id": 1,
      "mapper": {
        "qs": [],
        "url": "https://app.sellrapido.com/sr_company_ws/api/order/[SELLRAPIDO_API_KEY]",
        "data": "{\"startDate\": \"{{formatDate(addDays(now; -1); \\\"YYYY-MM-DD\\\")}}\", \"format\": \"json\", \"status\": [\"standby\", \"accepted\", \"sent\", \"cancelled\"]}",
        "gzip": true,
        "method": "post",
        "headers": [],
        "useMtls": false,
        "bodyType": "raw",
        "contentType": "application/json",
        "serializeUrl": false,
        "shareCookies": false,
        "parseResponse": true,
        "followRedirect": true,
        "useQuerystring": false,
        "followAllRedirects": false,
        "rejectUnauthorized": true
      },
      "module": "http:ActionSendData",
      "version": 3,
      "metadata": {
        "designer": { "x": 0, "y": 0 }
      },
      "parameters": {
        "handleErrors": false,
        "useNewZLibDeCompress": true
      }
    },
    {
      "id": 2,
      "mapper": {
        "array": "{{1.data.orders}}"
      },
      "module": "builtin:BasicFeeder",
      "version": 1,
      "metadata": {
        "designer": { "x": 300, "y": 0 }
      },
      "parameters": {}
    },
    {
      "id": 9,
      "mapper": {
        "qs": [],
        "url": "/rest/v1/orders?on_conflict=marketplace_order_id",
        "body": "{\"marketplace_order_id\":\"{{2.head.code}}\",\"order_date\":\"{{2.head.date_order}}\",\"order_value\":{{ifempty(2.head.price; 0)}},\"shipping_value\":{{ifempty(2.head.shipping_price; 0)}},\"marketplace_status\":\"{{2.head.status}}\",\"marketplace_code\":\"{{2.head.marketplace_code}}\",\"channel_code\":\"{{2.head.channel_code}}\",\"sellrapido_order_id\":{{2.head.id}},\"customer_name\":\"{{2.head.buyer_name}}\",\"customer_email\":\"{{2.head.buyer_email}}\",\"currency\":\"{{2.head.currency}}\",\"marketplace_fee\":{{ifempty(2.head.marketplace_fee; 0)}},\"tracking_number\":\"{{2.head.tracking}}\",\"carrier\":\"{{2.head.courier_code}}\",\"sellrapido_created_at\":\"{{2.head.created}}\",\"sellrapido_modified_at\":\"{{2.head.modified}}\",\"payment_date\":\"{{2.head.date_payment}}\",\"date_shipping\":\"{{2.head.date_shipping}}\"}",
        "method": "POST",
        "headers": [
          { "key": "Content-Type", "value": "application/json" },
          { "key": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
        ]
      },
      "module": "supabase:makeAnApiCall",
      "version": 1,
      "metadata": {
        "designer": { "x": 600, "y": 0 }
      },
      "parameters": {
        "__IMTCONN__": "[SUPABASE_CONNECTION_ID]"
      }
    },
    {
      "id": 5,
      "mapper": {
        "array": "{{2.rows}}"
      },
      "module": "builtin:BasicFeeder",
      "version": 1,
      "metadata": {
        "designer": { "x": 900, "y": 0 }
      },
      "parameters": {}
    },
    {
      "id": 14,
      "mapper": {
        "qs": [],
        "url": "/rest/v1/order_items?on_conflict=sellrapido_row_id",
        "body": "{\"order_id\":\"{{9.body[1].id}}\",\"sellrapido_row_id\":{{5.id}},\"product_sku\":\"{{5.sku}}\",\"product_name\":\"{{5.title}}\",\"product_ean\":\"{{5.ean}}\",\"quantity\":{{ifempty(5.quantity; 1)}},\"sale_price\":{{ifempty(5.price; 0)}},\"supplier_cost\":{{ifempty(5.price_cost; 0)}},\"price_total\":{{ifempty(5.price_total; 0)}},\"tracking_number\":\"{{5.tracking}}\",\"brand\":\"{{5.brand}}\",\"mpn\":\"{{5.mpn}}\",\"product_marketplace_id\":\"{{5.product_id}}\",\"shipping_cost\":{{ifempty(5.shipping_cost; 0)}},\"courier_code\":\"{{5.courier_code}}\",\"sellrapido_created_at\":\"{{5.created}}\",\"sellrapido_modified_at\":\"{{5.modified}}\"}",
        "method": "POST",
        "headers": [
          { "key": "Content-Type", "value": "application/json" },
          { "key": "Prefer", "value": "resolution=merge-duplicates,return=minimal" }
        ]
      },
      "module": "supabase:makeAnApiCall",
      "version": 1,
      "metadata": {
        "designer": { "x": 1200, "y": 0 }
      },
      "parameters": {
        "__IMTCONN__": "[SUPABASE_CONNECTION_ID]"
      }
    }
  ],
  "name": "SellRapido → Supabase | Ordini Marketplace",
  "metadata": {
    "zone": "eu2.make.com",
    "instant": false,
    "version": 1,
    "designer": { "orphans": [] },
    "scenario": {
      "dlq": false,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  },
  "scheduling": {
    "type": "indefinitely",
    "interval": 900
  }
}
