scenarios/fic-supabase-note-credito/blueprint.json
{
  "flow": [
    {
      "id": 1,
      "mapper": {
        "q": "date:>=:{{formatDate(addMonths(now; -18); \"YYYY-MM-DD\")}}",
        "limit": "1000",
        "companyId": 1303892,
        "documentType": "passive_credit_note"
      },
      "module": "fatture-in-cloud:listReceivedDocuments",
      "version": 1,
      "metadata": {
        "restore": {
          "expect": {
            "companyId": {"mode": "chose", "label": "Vendiamonoi.it"},
            "documentType": {"mode": "chose", "label": "Passive Credit Note"}
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {"scoped": "true", "connection": "fatture-in-cloud"},
              "label": "My Fatture in Cloud connection (direzione@vendiamonoi.it)"
            }
          }
        },
        "designer": {"x": 0, "y": 0},
        "parameters": [{"name": "__IMTCONN__", "type": "account:fatture-in-cloud", "label": "Connection", "required": true}]
      },
      "parameters": {"__IMTCONN__": 9820260}
    },
    {
      "id": 2,
      "mapper": {
        "ca": "",
        "qs": [
          {"name": "alias_name", "value": "ilike.{{1.entity.name}}"},
          {"name": "is_active", "value": "eq.true"},
          {"name": "select", "value": "supplier_id"}
        ],
        "url": "https://smozehzbhoeceioqxodx.supabase.co/rest/v1/supplier_aliases",
        "gzip": false,
        "method": "get",
        "headers": [
          {"name": "apikey", "value": "[SUPABASE_ANON_KEY]"},
          {"name": "Authorization", "value": "Bearer [SUPABASE_ANON_KEY]"}
        ],
        "timeout": "",
        "useMtls": false,
        "authPass": "",
        "authUser": "",
        "bodyType": "raw",
        "serializeUrl": false,
        "shareCookies": false,
        "parseResponse": true,
        "followRedirect": true,
        "useQuerystring": false,
        "followAllRedirects": false,
        "rejectUnauthorized": true
      },
      "module": "http:ActionSendData",
      "version": 3,
      "metadata": {"designer": {"x": 300, "y": 0}},
      "parameters": {"handleErrors": false, "useNewZLibDeCompress": true}
    },
    {
      "id": 3,
      "mapper": {
        "ca": "",
        "qs": [{"name": "on_conflict", "value": "fatture_in_cloud_id"}],
        "url": "https://smozehzbhoeceioqxodx.supabase.co/rest/v1/supplier_invoices",
        "data": "{\"fatture_in_cloud_id\":\"{{toString(1.id)}}\",\"raw_supplier_name\":\"{{1.entity.name}}\",\"invoice_number\":\"{{ifempty(1.invoice_number; \"\")}}\",\"invoice_date\":\"{{formatDate(parseDate(1.date; \"D/M/YYYY\"); \"YYYY-MM-DD\")}}\",\"total_amount\":{{ifempty(1.amount_gross; 0)}},\"vat_amount\":{{ifempty(1.amount_vat; 0)}},\"currency\":\"{{ifempty(1.currency.id; \"EUR\")}}\",\"payment_status\":\"{{if(ifempty(first(1.payments_list).status; \"\") = \"paid\"; \"paid\"; \"unpaid\")}}\",\"invoice_type\":\"credit_note\",\"document_url\":\"{{ifempty(1.attachment_url; \"\")}}\",\"notes\":\"{{ifempty(1.description; \"\")}}\"}",
        "gzip": false,
        "method": "post",
        "headers": [
          {"name": "apikey", "value": "[SUPABASE_ANON_KEY]"},
          {"name": "Authorization", "value": "Bearer [SUPABASE_ANON_KEY]"},
          {"name": "Prefer", "value": "resolution=merge-duplicates"}
        ],
        "timeout": "",
        "useMtls": false,
        "authPass": "",
        "authUser": "",
        "bodyType": "raw",
        "contentType": "application/json",
        "serializeUrl": false,
        "shareCookies": false,
        "parseResponse": true,
        "followRedirect": true,
        "useQuerystring": false,
        "followAllRedirects": false,
        "rejectUnauthorized": true
      },
      "module": "http:ActionSendData",
      "version": 3,
      "metadata": {"designer": {"x": 600, "y": 0}},
      "parameters": {"handleErrors": false, "useNewZLibDeCompress": true}
    },
    {
      "id": 4,
      "filter": {
        "name": "Fornitore trovato",
        "conditions": [[{"a": "{{length(2.data)}}", "b": "0", "o": "number:greater"}]]
      },
      "mapper": {
        "ca": "",
        "qs": [{"name": "on_conflict", "value": "fatture_in_cloud_id"}],
        "url": "https://smozehzbhoeceioqxodx.supabase.co/rest/v1/supplier_invoices",
        "data": "{\"fatture_in_cloud_id\":\"{{toString(1.id)}}\",\"supplier_id\":\"{{first(2.data).supplier_id}}\",\"matching_status\":\"matched\"}",
        "gzip": false,
        "method": "post",
        "headers": [
          {"name": "apikey", "value": "[SUPABASE_ANON_KEY]"},
          {"name": "Authorization", "value": "Bearer [SUPABASE_ANON_KEY]"},
          {"name": "Prefer", "value": "resolution=merge-duplicates"}
        ],
        "timeout": "",
        "useMtls": false,
        "authPass": "",
        "authUser": "",
        "bodyType": "raw",
        "contentType": "application/json",
        "serializeUrl": false,
        "shareCookies": false,
        "parseResponse": true,
        "followRedirect": true,
        "useQuerystring": false,
        "followAllRedirects": false,
        "rejectUnauthorized": true
      },
      "module": "http:ActionSendData",
      "version": 3,
      "metadata": {"designer": {"x": 900, "y": 0}},
      "parameters": {"handleErrors": false, "useNewZLibDeCompress": true}
    }
  ],
  "name": "FIC → Supabase | Note di Credito Ricevute",
  "metadata": {
    "instant": false,
    "version": 1,
    "designer": {"orphans": []},
    "scenario": {
      "dlq": false,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  },
  "scheduling": {"time": "06:10", "type": "daily"}
}
